/*  style.css contains a reset, font normalization and some base styles.  credit is left where credit is due. additionally, much inspiration was taken from these projects: yui.yahooapis.com/2.8.1/build/base/base.css camendesign.com/design/ praegnanz.de/weblog/htmlcssjs-kickstart
*/
/*  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline) v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark html5doctor.com/html-5-reset-stylesheet/
*/
/* line 17, src/partials/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* line 26, src/partials/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section { display: block; }

/* line 29, src/partials/_reset.scss */
nav ul { list-style: none; }

/* line 33, src/partials/_reset.scss */
blockquote, q { quotes: none; }

/* line 38, src/partials/_reset.scss */
blockquote:before, blockquote:after { content: ''; content: none; }

/* line 45, src/partials/_reset.scss */
q:before, q:after { content: ''; content: none; }

/* line 51, src/partials/_reset.scss */
a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* line 60, src/partials/_reset.scss */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* line 66, src/partials/_reset.scss */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

/* line 73, src/partials/_reset.scss */
del { text-decoration: line-through; }

/* line 77, src/partials/_reset.scss */
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

/* tables still need cellspacing="0" in the markup */
/* line 84, src/partials/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 89, src/partials/_reset.scss */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ddd; margin: 1em 0; padding: 0; }

/* line 98, src/partials/_reset.scss */
input, select { vertical-align: middle; }

/* END RESET CSS */
/*
fonts.css from the YUI Library: developer.yahoo.com/yui/ Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are two custom edits: make the line-height relative and unit-less remove the pre,code styles as we use a recommendation from Eric Meyer instead
*/
/* line 113, src/partials/_reset.scss */
body { font: 12px verdana,"Nimbus Sans L", "Bitstream Vera Sans", sans-serif; *font-size: small; *font: x-small; line-height: 1.22; }

/* line 120, src/partials/_reset.scss */
table { font-size: inherit; font: 100%; }

/* line 125, src/partials/_reset.scss */
select, input, textarea { font: 99% verdana,"Nimbus Sans L", "Bitstream Vera Sans", sans-serif; }

/* normalize monospace sizing  meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
/* line 132, src/partials/_reset.scss */
code, pre { font-family: "Courier New", monospace, serif; font-size: 1em; }

/*  minimal base styles  */
/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
/* line 142, src/partials/_reset.scss */
body, select, input, textarea { color: #444; }

/* Headers (h1,h2,etc) have no default font-size or margin, you'll want to define those yourself. */
/* www.aestheticallyloyal.com/public/optimize-legibility/ */
/* line 150, src/partials/_reset.scss */
h1, h2, h3, h4, h5, h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
/* line 156, src/partials/_reset.scss */
html { -webkit-font-smoothing: antialiased; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 161, src/partials/_reset.scss */
a { text-decoration: none; color: #607890; }
/* line 164, src/partials/_reset.scss */
a:active { outline: none; }
/* line 167, src/partials/_reset.scss */
a:focus { outline: thin dotted; }
/* line 170, src/partials/_reset.scss */
a:active, a:visited { color: #607890; }
/* line 173, src/partials/_reset.scss */
a:hover { text-decoration: underline; color: #036; }

/* line 183, src/partials/_reset.scss */
ol { list-style-type: decimal; }

/* line 188, src/partials/_reset.scss */
small { font-size: 85%; }

/* line 192, src/partials/_reset.scss */
strong, th { font-weight: bold; }

/* line 195, src/partials/_reset.scss */
td { vertical-align: top; }
/* line 197, src/partials/_reset.scss */
td img { vertical-align: top; }

/* line 202, src/partials/_reset.scss */
sub { vertical-align: sub; font-size: smaller; }

/* line 207, src/partials/_reset.scss */
sup { vertical-align: super; font-size: smaller; }

/* line 212, src/partials/_reset.scss */
pre { padding: 15px; /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */ white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */ }

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/*input { &[type="radio"] { vertical-align: text-bottom; } &[type="checkbox"] { vertical-align: bottom; vertical-align: baseline; }
}*/
/* hand cursor on clickable input elements */
/* line 238, src/partials/_reset.scss */
label { cursor: pointer; }

/* line 243, src/partials/_reset.scss */
input[type=button], input[type=submit] { cursor: pointer; }

/* line 248, src/partials/_reset.scss */
button { cursor: pointer; }

/* These selection declarations have to be separate. No text-shadow: twitter.com/miketaylr/status/12228805301  Also: hot pink. */
/* line 255, src/partials/_reset.scss */
::-moz-selection { background: #9c3482; color: #fff; text-shadow: none; }

/* line 261, src/partials/_reset.scss */
::selection { background: #9c3482; color: #fff; text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
/* line 268, src/partials/_reset.scss */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* always force a scrollbar in non-IE */
/* line 273, src/partials/_reset.scss */
html { overflow-y: scroll; }

/* make buttons play nice in IE:     www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 279, src/partials/_reset.scss */
button { width: auto; overflow: visible; }

/*  Non-semantic helper classes  */
/* for image replacement */
/* line 289, src/partials/_reset.scss */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: none; }

/* Hide for both screenreaders and browsers css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 298, src/partials/_reset.scss */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders  www.webaim.org/techniques/css/invisiblecontent/  Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
/* line 306, src/partials/_reset.scss */
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
/* line 314, src/partials/_reset.scss */
.invisible { visibility: hidden; }

/* line 318, src/partials/_reset.scss */
.left { display: inline; float: left; margin-right: 10px; margin-bottom: 10px; }

/* line 324, src/partials/_reset.scss */
.right { display: inline; float: right; margin-left: 10px; margin-bottom: 10px; }

/* >> The Magnificent CLEARFIX << */
/* line 331, src/partials/_reset.scss */
.clearfix { display: inline-block; }
/* line 332, src/partials/_reset.scss */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 340, src/partials/_reset.scss */
* html .clearfix { height: 1%; }

/* Hides from IE-mac \*/
/* line 345, src/partials/_reset.scss */
.clearfix { display: block; }

/* line 2, src/partials/_forms.scss */
textarea { width: 100%; height: 100px; margin-top: .5em; }

/* line 8, src/partials/_forms.scss */
select { padding: 2px; }

/* line 12, src/partials/_forms.scss */
input.text { width: 175px; }

/* line 16, src/partials/_forms.scss */
.description, span.error, .messaging span.alert { display: block; font-size: 85%; font-style: italic; color: #999; }

/* line 23, src/partials/_forms.scss */
span.required, span.error, .messaging span.alert { font-style: normal; color: #FF8373; }

/* line 28, src/partials/_forms.scss */
.field { margin-bottom: 1em; }
/* line 30, src/partials/_forms.scss */
.field label { display: block; }

/* line 35, src/partials/_forms.scss */
.fields { margin-bottom: 1em; }
/* line 38, src/partials/_forms.scss */
.fields dd label, .fields li label { display: block; margin-bottom: .5em; }
/* line 43, src/partials/_forms.scss */
.fields dt { margin-bottom: .5em; }

/* line 49, src/partials/_forms.scss */
.horizontal dd, .horizontal li { display: inline; float: left; margin-right: 20px; margin-bottom: 1em; }

/* line 18, src/partials/_buttons.scss */
a.button { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 0.7em 0.5em 0.7em 0; border-width: 1px; border-style: solid; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: 100%; line-height: 130%; font-weight: bold; text-decoration: none; cursor: pointer; padding: 5px 10px 5px 7px; background-color: #f5f5f5; border-color: #eeeeee #dedede #dedede #eeeeee; color: #565656; }
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a.button { *display: inline; }
/* line 75, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.button img { margin: 0 3px -3px 0 !important; padding: 0; border: none; width: 16px; height: 16px; float: none; }
/* line 62, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.button:hover { background-color: #dff4ff; border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff; color: #336699; }
/* line 47, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.button:active { background-color: #6299c5; border-color: #72a9d5 #6299c5 #6299c5 #72a9d5; color: white; }

/* line 31, src/partials/_buttons.scss */
button { float: none; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 0.7em 0.5em 0.7em 0; border-width: 1px; border-style: solid; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: 100%; line-height: 130%; font-weight: bold; text-decoration: none; cursor: pointer; width: auto; overflow: visible; padding: 4px 10px 3px 7px; background-color: #f5f5f5; border-color: #eeeeee #dedede #dedede #eeeeee; color: #565656; }
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
button { *display: inline; }
/* line 75, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
button img { margin: 0 3px -3px 0 !important; padding: 0; border: none; width: 16px; height: 16px; float: none; }
/* line 95, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
button[type] { padding: 4px 10px 4px 7px; line-height: 17px; }
/* line 98, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
*:first-child + html button[type] { padding: 4px 10px 3px 7px; }
/* line 62, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
button:hover { background-color: #dff4ff; border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff; color: #336699; }
/* line 47, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
button:active { background-color: #6299c5; border-color: #72a9d5 #6299c5 #6299c5 #72a9d5; color: white; }
/* line 39, src/partials/_buttons.scss */
button.disabled { background-color: #f5f5f5; border-color: #eeeeee #dedede #dedede #eeeeee; color: #999999; cursor: default; }

/* line 46, src/partials/_buttons.scss */
a.positive, button.positive { color: #529214; }
/* line 62, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.positive:hover, button.positive:hover { background-color: #e6efc2; border-color: #d6e890 #c6d880 #c6d880 #d6e890; color: #529214; }
/* line 47, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.positive:active, button.positive:active { background-color: #529214; border-color: #62a224 #529214 #529214 #62a224; color: white; }

/* line 51, src/partials/_buttons.scss */
a.negative, button.negative { color: #d12f19; }
/* line 62, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.negative:hover, button.negative:hover { background-color: #fbe3e4; border-color: #ffd2d4 #fbc2c4 #fbc2c4 #ffd2d4; color: #d12f19; }
/* line 47, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.negative:active, button.negative:active { background-color: #d12f19; border-color: #e13f29 #d12f19 #d12f19 #e13f29; color: white; }

/* line 56, src/partials/_buttons.scss */
button.disabled { color: #ccc; }
/* line 62, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
button.disabled:hover { background-color: #f5f5f5; border-color: #eeeeee #dedede #dedede #eeeeee; color: #cccccc; }

/* General Page Structure ===========================================================================*/
/* line 3, src/partials/_common.scss */
body { background: #c99f4b url(../img/body-bg.jpg) top center repeat-x; }

/* line 7, src/partials/_common.scss */
#page { width: 960px; margin: 5px auto 50px; }

/* line 12, src/partials/_common.scss */
#leaves { position: absolute; width: 940px; height: 100px; background: transparent url(../img/bd-bg.gif) bottom center no-repeat; }

/* General Styles ===========================================================================*/
/* line 21, src/partials/_common.scss */
h1, h2, h3, h4, h5, h6, p, ol, ul, dl, hr, table, blockquote { margin-bottom: 1em; font-weight: normal; }
/* line 24, src/partials/_common.scss */
h1.last, h2.last, h3.last, h4.last, h5.last, h6.last, p.last, ol.last, ul.last, dl.last, hr.last, table.last, blockquote.last { margin-bottom: 0; }

/* line 29, src/partials/_common.scss */
h1 { font-size: 20px; font-weight: normal; color: #9c3482; }

/* line 35, src/partials/_common.scss */
h2 { font-size: 18px; font-weight: normal; color: #133d6f; }

/* line 39, src/partials/_common.scss */
h3 { font-size: 15px; font-weight: bold; color: #32231a; }

/* line 43, src/partials/_common.scss */
h4 { font-size: 13px; font-weight: bold; color: #444444; }

/* line 47, src/partials/_common.scss */
a { color: #3c8eca; }
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover { color: #3c8eca; }

/* line 51, src/partials/_common.scss */
.left { display: inline; float: left; margin-right: 5px; }

/* line 56, src/partials/_common.scss */
.hasChildren a { background-color: transparent; background-repeat: no-repeat; background-position: 90% center; background-image: url(../img/icons/dropdown-arrow-large.png); }

/* line 60, src/partials/_common.scss */
.sub { display: none; position: absolute; top: 38px; z-index: 999; width: 100%; border-top: none; background: transparent url(../img/sub-nav-indicator.png) top center no-repeat; -moz-box-shadow: 1px 3px 5px #999; -webkit-box-shadow: 1px 3px 5px #999; box-shadow: 1px 3px 5px #999; }
/* line 71, src/partials/_common.scss */
.multiple .sub { left: -140px; width: 400px; }
/* line 74, src/partials/_common.scss */
.multiple .sub ul { width: 130px; border-right: 1px dotted #ccc; margin: 1em 0; }
/* line 78, src/partials/_common.scss */
.multiple .sub ul.last { border-right: none; }
/* line 81, src/partials/_common.scss */
.multiple .sub ul a { display: block; min-width: 109px; width: auto !important; width: 109px; min-height: 66px; height: auto !important; height: 66px; text-align: center; }
/* line 86, src/partials/_common.scss */
.multiple .sub ul a img { display: block; margin: 0 auto; }
/* line 93, src/partials/_common.scss */
.sub .sub-inner { margin-top: 7px; background-color: #fff; border: 1px solid #3c8eca; border-top: none; overflow: hidden; *zoom: 1; }
/* line 100, src/partials/_common.scss */
.sub ul { display: inline; float: left; margin-bottom: 0; width: 100px; background-color: #fff; }
/* line 105, src/partials/_common.scss */
.sub ul li { float: none !important; text-transform: none !important; }
/* line 108, src/partials/_common.scss */
.sub ul li a { padding: 10px !important; background: none !important; }

/* HEADER ===========================================================================*/
/* line 118, src/partials/_common.scss */
header { position: relative; }
/* line 121, src/partials/_common.scss */
header .logo { position: relative; z-index: 6; }

/* line 127, src/partials/_common.scss */
#primaryNavAndSearchWrapper { position: absolute; width: 100%; bottom: 39px; z-index: 5; background: transparent url(../img/nav-search-bg.jpg) top right no-repeat; }
/* line 133, src/partials/_common.scss */
#primaryNavAndSearchWrapper nav { display: inline; float: left; width: 550px; margin-left: 200px; }
/* line 139, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul { margin-left: 0; }
/* line 141, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li { display: inline; float: left; position: relative; text-transform: uppercase; }
/* line 148, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li a { color: white; display: block; height: 15px; padding: 15px 20px; }
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#primaryNavAndSearchWrapper ul li a:hover { color: #e8c055; }
/* line 154, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li.noLink { text-transform: none; }
/* line 156, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li.noLink:hover { background-image: none; }
/* line 160, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li.noLink a:hover { color: white; cursor: default; text-decoration: none; }
/* line 168, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li.hasChildren a { padding: 15px 27px 15px 20px; }
/* line 172, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li.hasChildren .sub li:hover { background: none; }
/* line 175, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li.hasChildren .sub a { color: #3c8eca; }
/* line 180, src/partials/_common.scss */
#primaryNavAndSearchWrapper ul li:hover { background: transparent url(../img/primary-nav-active.png) top center repeat-x; }
/* line 186, src/partials/_common.scss */
#primaryNavAndSearchWrapper form { display: inline; float: right; margin: 11px; width: 145px; }
/* line 190, src/partials/_common.scss */
#primaryNavAndSearchWrapper form input { background: none; border: none; color: #fff; }
/* line 194, src/partials/_common.scss */
#primaryNavAndSearchWrapper form input:focus { outline: none; }
/* line 198, src/partials/_common.scss */
#primaryNavAndSearchWrapper form input::-webkit-input-placeholder { color: #fff; }

/* line 204, src/partials/_common.scss */
nav.tertiary { position: absolute; top: 15px; left: 0; width: 100%; }
/* line 209, src/partials/_common.scss */
nav.tertiary .hasChildren a { background-color: transparent; background-repeat: no-repeat; padding-right: 12px !important; background-position: center right; background-image: url(../img/icons/dropdown-arrow-small.png); }
/* line 212, src/partials/_common.scss */
nav.tertiary ul.first { display: inline; float: left; margin-left: 210px; }
/* line 215, src/partials/_common.scss */
nav.tertiary ul.first li { display: inline; float: left; margin-right: 5px; padding-right: 5px; border-right: 1px solid #22324f; line-height: 16px; }
/* line 221, src/partials/_common.scss */
nav.tertiary ul.first li.last { padding-right: 0; border-right: 0; }
/* line 227, src/partials/_common.scss */
nav.tertiary ul.last { display: inline; float: right; }
/* line 229, src/partials/_common.scss */
nav.tertiary ul.last li { display: inline; float: left; height: 16px; }
/* line 232, src/partials/_common.scss */
nav.tertiary ul.last li img { margin-right: 7px; vertical-align: middle; }
/* line 236, src/partials/_common.scss */
nav.tertiary ul.last li a { line-height: 11px; vertical-align: middle; }
/* line 240, src/partials/_common.scss */
nav.tertiary ul.last li.last { margin-left: 20px; }
/* line 243, src/partials/_common.scss */
nav.tertiary ul.last li .sub { top: 15px; right: 0; width: 75px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/* line 250, src/partials/_common.scss */
nav.tertiary ul.last li .sub ul { padding: 5px 0; }
/* line 256, src/partials/_common.scss */
nav.tertiary a { color: #22324f; font-size: 11px; }

/* Body ===========================================================================*/
/* line 265, src/partials/_common.scss */
#bd { overflow: hidden; *zoom: 1; position: relative; margin-top: -39px; padding: 40px 0 0; background: #fff; /* .secondary { @include float-left; width: 173px; margin-top: 53px; nav ul { margin-left: 10px; padding-top: 10px; background: transparent url(../img/interior/secondary-nav-bg.png) top right no-repeat; li { margin-bottom: 15px; padding-left: 15px; background: transparent url(../img/icons/bullet.png) center left no-repeat; &.active { font-weight: bold; } } } }
*/ }
/* line 273, src/partials/_common.scss */
#bd .main { overflow: hidden; *zoom: 1; min-height: 320px; height: auto !important; height: 320px; position: relative; margin-bottom: 50px; /* .col { @include float-left; position: relative; z-index: 1; width: 320px; &.first { margin-right: 30px; } img { margin-bottom: 1em; } }
*/ }
/* line 281, src/partials/_common.scss */
#bd .main h1 { padding: 16px 0 0 0; height: 22px; }
/* line 287, src/partials/_common.scss */
#bd .main ul { padding-left: 30px; }
/* line 289, src/partials/_common.scss */
#bd .main ul li { margin-bottom: .5em; }
/* line 310, src/partials/_common.scss */
#bd .main .toggler a { display: inline-block; padding: 3px; }
/* line 313, src/partials/_common.scss */
#bd .main .toggler a.active { background-color: #c3e19b; }

/* Footer ===========================================================================*/
/* line 345, src/partials/_common.scss */
footer { width: 100%; padding-bottom: 50px; text-align: center; /*a, a:visited { @include link-colors($lightBrown, $lightBrown);
}*/ }
/* line 351, src/partials/_common.scss */
footer .wrapper { padding-top: 20px; width: 940px; margin: 0 auto; }
/* line 359, src/partials/_common.scss */
footer a, footer a:visited { color: #97714a; display: inline-block; margin-bottom: 4px; text-decoration: underline; }
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer a:hover, footer a:visited:hover { color: #6c5135; }
/* line 365, src/partials/_common.scss */
footer nav { overflow: hidden; *zoom: 1; margin: 20px 0 10px; padding: 20px; font-size: 11px; background-color: #23120b; }
/* line 20, src/partials/_lib.scss */
.borderradius footer nav { -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
/* line 372, src/partials/_common.scss */
footer nav ul { display: inline; float: left; margin: 0 50px 0 0; }
/* line 376, src/partials/_common.scss */
footer nav ul.socialMedia { margin-left: 100px; margin-right: 0; }
/* line 379, src/partials/_common.scss */
footer nav ul.socialMedia li { margin-bottom: 10px; }
/* line 383, src/partials/_common.scss */
footer nav ul ul { margin-right: 30px; }
/* line 385, src/partials/_common.scss */
footer nav ul ul.last { margin-right: 0; }
/* line 392, src/partials/_common.scss */
footer p { clear: both; color: #97714a; }
/* line 395, src/partials/_common.scss */
footer p a { color: #97714a; text-decoration: underline; }
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer p a:hover { color: #6c5135; }

/* line 3, src/pages/_documents.scss */
body.documents .documentsListWrapper ul { display: none; margin-left: 20px; }
/* line 6, src/pages/_documents.scss */
.ie6 body.documents .documentsListWrapper ul { display: block !important; }
/* line 9, src/pages/_documents.scss */
body.documents .documentsListWrapper ul a:hover { text-decoration: underline; }
/* line 13, src/pages/_documents.scss */
body.documents .documentsListWrapper h2 { margin-bottom: 7px; padding-left: 32px; }
/* line 18, src/pages/_documents.scss */
body.documents .documentsListWrapper a:hover { text-decoration: none; }
/* line 22, src/pages/_documents.scss */
body.documents .documentsListWrapper a.hasChildren h2 { background-image: url(../img/icons/bullet_toggle_plus.png); background-repeat: no-repeat; background-position: 0 50%; }
/* line 26, src/pages/_documents.scss */
.ie6 body.documents .documentsListWrapper a.hasChildren h2 { background: none; }

/* line 2, src/pages/_directory.scss */
body.directory table { clear: both; width: 100%; border-top: 1px solid #cccccc; border-left: 1px solid #cccccc; }
/* line 53, src/partials/_lib.scss */
body.directory table th, body.directory table td { padding: 5px; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }

/*  print styles inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
*/
@media print { /* line 7, src/partials/_print.scss */
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  /* line 12, src/partials/_print.scss */
  a { color: #444 !important; text-decoration: underline; }
  /* line 15, src/partials/_print.scss */
  a:visited { color: #444 !important; text-decoration: underline; }
  /* line 20, src/partials/_print.scss */
  .ir a:after { content: ""; }
  /* line 23, src/partials/_print.scss */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  /* line 27, src/partials/_print.scss */
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  /* line 33, src/partials/_print.scss */
  p, h2, h3 { orphans: 3; widows: 3; }
  /* line 37, src/partials/_print.scss */
  h2, h3 { page-break-after: avoid; } }
/* Media queries for responsive design
*/
@media all and (orientation:portrait) { /* Style adjustments for portrait mode goes here */ }
@media all and (orientation:landscape) { /* Style adjustments for landscape mode goes here */ }
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/
*/
@media screen and (max-device-width: 480px) { /* line 19, src/partials/_media.scss */
  html { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; } }
/* h1 { font-size: 167%; font-weight: normal; color: #9C3482; }
 h2 { font-size: 138.5%; font-weight: normal; color: #133D6F; }
 h3 { font-size: 116%; color: #32231A; }
*/
/* line 22, src/partials/requests/_common.scss */
table { width: 100%; }
/* line 24, src/partials/requests/_common.scss */
table th, table td { padding: 5px; }
/* line 26, src/partials/requests/_common.scss */
table th.center, table td.center { text-align: center; }

/* a { @include link-colors($blue, $blueHover, $blue, $blue, $blue); }
*/
/* line 40, src/partials/requests/_common.scss */
.ui-widget { font-size: 1em !important; }

/* line 44, src/partials/requests/_common.scss */
.ui-state-active a, .ui-widget-content .ui-state-active a, .ui-widget-header .ui-state-active a { color: #9C3482; }

/* line 48, src/partials/requests/_common.scss */
.ui-tabs-nav li { margin-bottom: 0 !important; }

/* line 52, src/partials/requests/_common.scss */
.ui-datepicker-trigger { margin-left: 5px; vertical-align: middle; }
/* line 55, src/partials/requests/_common.scss */
.ui-datepicker-trigger:hover { cursor: pointer; }
/* line 58, src/partials/requests/_common.scss */
.ie6 .ui-datepicker-trigger { display: none; }

/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .feedback, .messaging .error, .messaging .alert, .messaging .notice, .messaging .success, .messaging .info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; }
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .error, .messaging .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .error a, .messaging .alert a { color: #8a1f11; }
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
/* line 36, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .notice a { color: #514721; }
/* line 8, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .success { background: #e6efc2; color: #264409; border-color: #c6d880; }
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .success a { color: #264409; }
/* line 9, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .info { background: #d5edf8; color: #205791; border-color: #92cae4; }
/* line 54, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .info a { color: #205791; }
/* line 10, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .hide { display: none; }
/* line 11, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .highlight { background: yellow; }
/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .added { background: #006600; color: white; }
/* line 13, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.messaging .removed { background: #990000; color: white; }
/* line 65, src/partials/requests/_common.scss */
.messaging img { vertical-align: text-bottom; }

/* line 70, src/partials/requests/_common.scss */
html.js .no-js { display: none; }

/* body, select, input, textarea { font-family: verdana, sans-serif; color: #444; }
 #page { width: $maxWidth; margin: 0 auto; padding-top: 1em; }
*/
/* line 3, src/pages/requests/_requests.scss */
body.requestAdd .main h2 { padding-left: 24px; }
/* line 5, src/pages/requests/_requests.scss */
body.requestAdd .main h2.collapsed { color: #999; background: transparent url(../img/icons/arrow_right.png) center left no-repeat; }
/* line 9, src/pages/requests/_requests.scss */
body.requestAdd .main h2.expanded { background: transparent url(../img/icons/arrow_down.png) center left no-repeat; }
/* line 12, src/pages/requests/_requests.scss */
.ie6 body.requestAdd .main h2 { background: none; padding-left: 0; color: #133D6F !important; }
/* line 19, src/pages/requests/_requests.scss */
body.requestAdd .main a.brandImg img { border: 1px solid #fff; padding: 5px; }
/* line 22, src/pages/requests/_requests.scss */
body.requestAdd .main a.brandImg img:hover { cursor: pointer; }
/* line 27, src/pages/requests/_requests.scss */
body.requestAdd .main .projectTypes, body.requestAdd .main .requestedMaterials { list-style: none; padding-left: 0 !important; }
/* line 32, src/pages/requests/_requests.scss */
body.requestAdd .main .additionalFieldWrapper { display: none; }
/* line 35, src/pages/requests/_requests.scss */
body.requestAdd .main .additionalFieldWrapper .field.disabled label, body.requestAdd .main .additionalFieldWrapper .field.disabled span.description { color: #ddd; }
/* line 43, src/pages/requests/_requests.scss */
body.requestAdd .addItem { margin-top: 0; }
/* line 48, src/pages/requests/_requests.scss */
body.requestAdd .removeItem img { vertical-align: middle; }
/* line 54, src/pages/requests/_requests.scss */
body.requestAdd .section { display: none; margin-bottom: 1em; }
/* line 57, src/pages/requests/_requests.scss */
.ie6 body.requestAdd .section { display: block; }
/* line 62, src/pages/requests/_requests.scss */
body.requestAdd .ie6 button.continueForm { display: none !important; }

/* line 68, src/pages/requests/_requests.scss */
body.operationsRequestAdd .requestType, body.operationsRequestAdd .requestedMaterialsDetailWrapper, body.operationsRequestAdd .progressiveField { display: none; }

/* line 2, src/pages/requests/_dashboard.scss */
body.requestDashboard table.projectTable { display: none; }

/* line 3, src/pages/requests/_detail.scss */
body.requestDetail #bd .main h1 { margin-bottom: 0; }
/* line 7, src/pages/requests/_detail.scss */
body.requestDetail #bd .main h2 { padding-left: 0; }
/* line 11, src/pages/requests/_detail.scss */
body.requestDetail #bd .main ul { margin-left: 2em; list-style: disc; }
/* line 14, src/pages/requests/_detail.scss */
body.requestDetail #bd .main ul.tabBar { margin-left: 0; list-style: none; }
/* line 21, src/pages/requests/_detail.scss */
body.requestDetail .modal { display: none; }
/* line 23, src/pages/requests/_detail.scss */
body.requestDetail .modal ul { margin-left: 15px; }
/* line 26, src/pages/requests/_detail.scss */
body.requestDetail .modal .emailSent { display: none; }
/* line 32, src/pages/requests/_detail.scss */
body.requestDetail .noteMeta { font-size: 77%; }
