/* line 1, src/ie.scss */
input { _vertical-align: text-bottom; }

/* bicubic resizing for non-native sized IMG:  code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 7, src/ie.scss */
* + html img { -ms-interpolation-mode: bicubic; }

/* line 12, src/ie.scss */
.ie6 header, .ie7 header { z-index: 100 !important; }

/* line 16, src/ie.scss */
.ie6 #bd { z-index: 0 !important; }

/* line 21, src/ie.scss */
.ie6 #primaryNavAndSearchWrapper, .ie7 #primaryNavAndSearchWrapper { position: absolute !important; top: 47px !important; left: 0 !important; }

/* line 30, src/ie.scss */
.ie6 body.documents .documentsListWrapper ul, .ie7 body.documents .documentsListWrapper ul { display: block; }
/* line 33, src/ie.scss */
.ie6 body.documents .documentsListWrapper a.hasChildren h2, .ie7 body.documents .documentsListWrapper a.hasChildren h2 { background: none; }
